header.header 
  .header__content 
    .header__logo 
      img(src="/img/logo.png" alt="weR Logo")
    .header__navigation 
      +nav("index.pug","Home") 
      +nav("about.pug","About Us") 
      a.header__navigation-item(href="#") Services
      a.header__navigation-item(href="#") Contact Us
      a.header__navigation-item.button(href="#") 
        span.button__shape
        span.button__shape
        span.button__shape
        span.button__shape
        |Pricing