block variables
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=11")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")

    title= title

    link(rel="stylesheet", href="css/main.scss")

  body
    block content
    script(src="../js/ofi.min.js")
    script(src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js")
    script(src="js/index.ts")