@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

//colors
$primary: #F7C663;

$black: #000;
$white: #fff;
$cream: #FFF8F0;
$caramel: #EFD395;
$dark-gy: #333333;

//font
$sans: 'Open Sans', sans-serif;

//font-weight
$heavy: 900;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;