.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 35px;
  background-color: $primary;
  color: $white;
  border-radius: 10px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: $primary;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 4px
  }

  &::before {
    left: -7.5px;
  }

  &::after {
    right: -6.5px;
  }
}