.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 45px;
  background-color: $primary;
  color: $white;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 400ms ease;

  &__shape {
    display: block;
    position: absolute;
    background-color: $primary;
    width: 26px;
    height: 31px;
    border-radius: 6px;
    top: 0;
    transition: all 400ms ease;
  }

  & .button__shape:first-of-type {
    transform: rotate(35.54deg);
    top: 0;
    left: -10px;
  }

  & .button__shape:nth-of-type(2) {
    transform: rotate(145.459deg);
    top: 9px;
    left: -10px;
  }

  & .button__shape:nth-of-type(3) {
    transform: rotate(145.54deg);
    top: 0;
    right: -10px;
  }

  & .button__shape:nth-of-type(4) {
    transform: rotate(35.459deg);
    top: 9px;
    right: -10px;
  }

  &:hover {
    background-color: $caramel;
    border: 2px solid $caramel;

    .button__shape {
      background-color: $caramel;
    }
  }
}