.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 181px;
  height: 50px;
  background-color: $primary;
  color: $white;
  border-radius: 5px;
  background: url('/img/btn-hex.svg');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.6rem;
}