.mv {
  padding: 220px 0 200px;

  &__content-wrapper {
    position: relative;
  }

  &__bg {
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -1;

    img {
      width: 100%;
    }

    &::before{
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to right, $primary, rgba(0, 0, 0, 0));
    }
  }

  &__message {
    position: relative;
    padding-left: 36px;
    margin-bottom: 55px;
    
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 105%;
      background-color: $primary;
      left: 0;
    }
  }

  &__subtitle {
    display: block;
    font-size: 1.8rem;
    line-height: getem(18, 31.55);
    letter-spacing: getem(1000, 55);
    margin-bottom: 22px;
  }

  &__title {
    color: $primary;
    margin-bottom: 21px;
  }

  &__content {
    font-size: 1.3rem;
    line-height: getem(13, 22);
    letter-spacing: getem(1000, 55);
  }

  &__button-wrapper {
    padding-left: 46px;
  }

  &__button {
    font-size: 1.4rem;
    letter-spacing: 0.055em;
    line-height: 2.2535714286em;
  }
}