.step {
  padding-bottom: 200px;

  &__title {
    margin-bottom: 75px;
  }

  &__module {
    position: relative;
    max-width: 900px;
    margin: auto;
  }
  
  &__list {
    margin: 0 auto;
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 75px;
  }

  &__item {
    position: relative;
    transition: all 400ms ease;

    &:not(:first-of-type) {
      &::before {
        content: '';
        position: absolute;
        width: 160px;
        height: 18px;
        background-color: black;
        left: -145px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: -1;
        transition: all 400ms ease;
      }

      &::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 6px;
        background-color: $caramel;
        left: -165px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transition: all 400ms ease;
      }
    }

    &.active {
      &:not(:first-of-type) {
        &::after {
          width: 180px;
        }
      }
    }

    &.active .step__indicator {
      &::after {
        opacity: 1;
      }
    }
  }

  &__indicator {
    position: relative;
    display: block;
    width: 51px;
    height: 56px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-image: url('/img/indicator-bg.svg');
    background-color: transparent;

    &::after {
      content: '';
      position: absolute;
      width: 38px;
      height: 42px;
      background-image: url('/img/indicator-active.svg');
      background-repeat: no-repeat;
      left: 6px;
      top: 7px;
      margin: auto;
      opacity: 0;
      transition: all 400ms ease;
      transition-delay: 300ms;
      z-index: 1;
    }
  }

  &__content-wrapper {
    position: relative;
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    max-width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 400ms ease;

    &.active {
      position: relative;
      opacity: 1;
    }
  }

  &__buttons {
    position: absolute;
    top: 300px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('/img/icon-arrow.png');
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-of-type {
      &::before {
        transform: rotate(90deg);
      }
    }

    &:nth-of-type(2) {
      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: $heavy;
    margin-bottom: 45px;

    span {
      color: $caramel;
    }
  }

  &__img {
    max-width: 95px;
    width: 100%;
    margin-bottom: 46px;

    img {
      width: 100%;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: getem(13, 22);
    letter-spacing: getem(1000, 55);
    text-align: center;
  }

}