.carousel-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 33.3%;
  height: 392px;
  @include tablet {
    width: 100%;
  }
  @include sp {
    width: 100%;
  }
}

.carousel-cell > .service__blurb {
  min-width: 200px;
  height: 100px;

  & .service__shape {
    position: absolute;
    display: block;
    height: 70px;
    width: 130px;
    border-radius: 21px;
    background-color: $caramel;
    z-index: -1;
  }  

  & .service__shape:first-of-type {
    transform: rotate(150deg);
    top: -40px;
    left: 2px;
  }

  & .service__shape:nth-of-type(2) {
    transform: rotate(30deg);
    top: -40px;
    right: 2px;
  }

  & .service__shape:nth-of-type(3) {
    transform: rotate(30deg);
    bottom: -40px;
    left: 2px;
  }

  & .service__shape:nth-of-type(4) {
    transform: rotate(150deg);
    bottom: -40px;
    right: 2px;
  }
}

.carousel-cell.is-selected > .service__blurb {
  min-width: 340px;
  max-width: 340px;
  height: 178px;

  & .service__shape {
    position: absolute;
    display: block;
    height: 110px;
    width: 210px;
    border-radius: 21px;
    background-color: $caramel;
    z-index: -1;
  }

  & .service__shape:first-of-type {
    transform: rotate(150deg);
    top: -66px;
    left: 6px;
  }

  & .service__shape:nth-of-type(2) {
    transform: rotate(30deg);
    top: -66px;
    right: 6px;
  }

  & .service__shape:nth-of-type(3) {
    transform: rotate(30deg);
    bottom: -66px;
    left: 6px;
  }

  & .service__shape:nth-of-type(4) {
    transform: rotate(150deg);
    bottom: -66px;
    right: 6px;
  }
}

.carousel-cell > .service__blurb > .service__blurb-icon {
  max-width: 74px;
}

.carousel-cell.is-selected > .service__blurb > .service__blurb-icon {
  max-width: 129px;
}

.carousel-cell > .service__blurb > .service__blurb-content {
  position: absolute;
  opacity: 0;
}

.carousel-cell.carousel-cell.is-selected > .service__blurb > .service__blurb-content {
  position: relative;
  opacity: 1;
}