.svg {
  position: absolute;
  overflow: visible;
  display: block;
}

.clipped {
  position: relative;
  width: 271px;
  height: 350px;
  background-color: #eaeaea;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 155px;
  }

  &.hover {
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    background-color: $caramel;
    text-align: center;
    transition: all 300ms ease;

    &.mouse-over {
      opacity: 0.9;
    }

    p {
      font-size: 2.3rem;
      line-height: getem(23, 27);
      letter-spacing: getem(1000, 100);
      font-weight: $heavy;
      color: $black;
      text-transform: uppercase;
      margin-bottom: 18px;
      cursor: default;
    }

    span {
      font-size: 1.2rem;
      line-height: getem(12, 14);
      letter-spacing: getem(1000, 100);
      font-weight: $medium;
      color: $black;
      text-transform: uppercase;
      cursor: default;
    }
  }

}