extends includes/layout.pug
block content 
  .about 
    .content-wrapper
      h1.section-title.about__title 
        | WHO 
        span WE R
      .about__content 
        p It is a long established fact that a reader will be distracted by the readable content #[br] of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text
      .about__img 
        img(src="/img/placeholder-big-img.jpg" alt="about image")
      .about__content 
        |It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text
        br
        br
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text
      .about__item-wrapper
        span.about__shape
        span.about__shape
        span.about__shape
        span.about__shape
        h3.section-title.about__item-heading Mission
        p.about__item-content It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted 
      .about__item-wrapper
        span.about__shape
        span.about__shape
        span.about__shape
        span.about__shape
        h3.section-title.about__item-heading Vision
        p.about__item-content It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted 
      .about__img
        img(src="/img/placeholder-big-img.jpg" alt="about image number 2")
      h3.section-title.about__title your we R partners
      .about__partner-row 
        .about__partner
          svg.svg(width="300px" height="300px" viewBox="0 0 500 520")
            clipPath#my-clip-path(clipPathUnits="objectBoundingBox" x="200px")
              path(transform="scale(0.8, 0.8)" x="50" y="50" d="M0,0.278 V0.694 A0.112,0.091,0,0,0,0.052,0.771 L0.44,0.972 A0.112,0.091,0,0,0,0.56,0.972 L0.948,0.771 A0.112,0.091,0,0,0,1,0.694 V0.278 A0.112,0.091,0,0,0,0.948,0.2 L0.56,0 A0.112,0.091,0,0,0,0.44,0 L0.052,0.2 A0.112,0.091,0,0,0,0,0.278")
          .clipped
            img(src="/img/icon-user.png", alt="")
        .about__partner
          svg.svg(width="300px" height="300px" viewBox="0 0 500 520")
            clipPath#my-clip-path(clipPathUnits="objectBoundingBox")
              path(transform="scale(0.8, 0.8)" x="50" y="50" d="M0,0.278 V0.694 A0.112,0.091,0,0,0,0.052,0.771 L0.44,0.972 A0.112,0.091,0,0,0,0.56,0.972 L0.948,0.771 A0.112,0.091,0,0,0,1,0.694 V0.278 A0.112,0.091,0,0,0,0.948,0.2 L0.56,0 A0.112,0.091,0,0,0,0.44,0 L0.052,0.2 A0.112,0.091,0,0,0,0,0.278")
          .clipped
            img(src="/img/icon-user.png", alt="")
      .about__partner-row
        .about__partner
          svg.svg(width="300px" height="300px" viewBox="0 0 500 520")
            clipPath#my-clip-path(clipPathUnits="objectBoundingBox")
              path(transform="scale(0.8, 0.8)" x="50" y="50" d="M0,0.278 V0.694 A0.112,0.091,0,0,0,0.052,0.771 L0.44,0.972 A0.112,0.091,0,0,0,0.56,0.972 L0.948,0.771 A0.112,0.091,0,0,0,1,0.694 V0.278 A0.112,0.091,0,0,0,0.948,0.2 L0.56,0 A0.112,0.091,0,0,0,0.44,0 L0.052,0.2 A0.112,0.091,0,0,0,0,0.278")
          .clipped
            img(src="/img/icon-user.png", alt="")
        .about__partner
          svg.svg(width="300px" height="300px" viewBox="0 0 500 520")
            clipPath#my-clip-path(clipPathUnits="objectBoundingBox")
              path(transform="scale(0.8, 0.8)" x="50" y="50" d="M0,0.278 V0.694 A0.112,0.091,0,0,0,0.052,0.771 L0.44,0.972 A0.112,0.091,0,0,0,0.56,0.972 L0.948,0.771 A0.112,0.091,0,0,0,1,0.694 V0.278 A0.112,0.091,0,0,0,0.948,0.2 L0.56,0 A0.112,0.091,0,0,0,0.44,0 L0.052,0.2 A0.112,0.091,0,0,0,0,0.278")
          .clipped
            img(src="/img/icon-user.png", alt="")
        .about__partner
          svg.svg(width="300px" height="300px" viewBox="0 0 500 520")
            clipPath#my-clip-path(clipPathUnits="objectBoundingBox")
              path(transform="scale(0.8, 0.8)" x="50" y="50" d="M0,0.278 V0.694 A0.112,0.091,0,0,0,0.052,0.771 L0.44,0.972 A0.112,0.091,0,0,0,0.56,0.972 L0.948,0.771 A0.112,0.091,0,0,0,1,0.694 V0.278 A0.112,0.091,0,0,0,0.948,0.2 L0.56,0 A0.112,0.091,0,0,0,0.44,0 L0.052,0.2 A0.112,0.091,0,0,0,0,0.278")
          .clipped
            img(src="/img/icon-user.png", alt="")

      //-   .about__partner
      //-     img(src="/img/icon-user.png", alt="a partner")
      //- .about__partner-row 
      //-   .about__partner.about__partner--small
      //-     img(src="/img/icon-user.png", alt="a partner")
      //-   .about__partner.about__partner--small
      //-     img(src="/img/icon-user.png", alt="a partner")
      //-   .about__partner.about__partner--small
      //-     img(src="/img/icon-user.png", alt="a partner")