extends includes/layout.pug
block content
  main.main 
    .mv__bg 
      img(src="/img/mv-bg.png" alt="hero bg")
    section.mv 
      .content-wrapper
        .mv__message
          span.mv__subtitle Worldwide Executive Resourse
          h1.section-title.mv__title 
            | The Outsource Solution
            br
            | for scaling your business
          p.mv__content 
            It is a long established fact that a reader will be distracted by the readable content #[br] of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text
        .mv__button-wrapper
          a.button.mv__button(href="#") 
            span.button__shape
            span.button__shape
            span.button__shape
            span.button__shape
            |The button

    section.who 
      .content-wrapper
        h2.section-title.who__title 
          | WHO 
          span WE R 
        .who__content-wrapper 
          .who__content. 
            It is a long established fact that a reader will be 
            distracted by the readable content of a page when 
            looking at its layout. Lorem Ipsum has been the
            industry's standard dummy text. It is a long established
            fact that a reader will be distracted by the readable
            content of a page when looking at its layout.
            #[br]
            #[br]
            It is a long established fact that a reader will be 
            distracted by the readable content of a page when
            looking at its layout.
          .who__img 
            img(src="/img/placeholder-img.jpg" alt="this is a placeholder")
        .who__button-wrapper 
          a.button.who__button(href="#") 
            span.button__shape
            span.button__shape
            span.button__shape
            span.button__shape
            |The button

    section.service
      .content-wrapper 
        h2.section-title.service__title services
        .home-carousel
          .carousel-cell 
            .service__blurb
              span.service__shape
              span.service__shape
              span.service__shape
              span.service__shape
              .service__blurb-icon 
                img(src="/img/icon-file.png", alt="")
              .service__blurb-content
                h4.service__name SERVICE 1
                p.service__desc It is a long established fact that a  reader will be distracted by the readable content of a page when looking at its layout. 
          .carousel-cell 
            .service__blurb 
              span.service__shape
              span.service__shape
              span.service__shape
              span.service__shape
              .service__blurb-icon 
                img(src="/img/icon-file.png", alt="")
              .service__blurb-content
                h4.service__name SERVICE 2
                p.service__desc It is a long established fact that a  reader will be distracted by the readable content of a page when looking at its layout. 
          .carousel-cell 
            .service__blurb 
              span.service__shape
              span.service__shape
              span.service__shape
              span.service__shape
              .service__blurb-icon 
                img(src="/img/icon-file.png", alt="")
              .service__blurb-content
                h4.service__name SERVICE 3
                p.service__desc It is a long established fact that a  reader will be distracted by the readable content of a page when looking at its layout. 
          .carousel-cell 
            .service__blurb 
              span.service__shape
              span.service__shape
              span.service__shape
              span.service__shape
              .service__blurb-icon 
                img(src="/img/icon-file.png", alt="")
              .service__blurb-content
                h4.service__name SERVICE 4
                p.service__desc It is a long established fact that a  reader will be distracted by the readable content of a page when looking at its layout. 

  section.step 
    .content-wrapper 
      h2.section-title.step__title how we do it
      .step__module
        ul.step__list 
          li.step__item
            button.step__indicator(value='0')
          li.step__item
            button.step__indicator(value='1')
          li.step__item
            button.step__indicator(value='2')
          li.step__item
            button.step__indicator(value='3')
          li.step__item
            button.step__indicator(value='4')
        .step__content-wrapper 
          .step__content
            h3.step__heading STEP 1: 
              span INQUIRY
            .step__img 
              img(src="img/icon-inquiry.png" alt="inquiry")
            p.step__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been theindustry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              br
              br
              |It is a long established fact that a reader will be distracted by the readable content of a page whenlooking at its layout.
          .step__content
            h3.step__heading STEP 2: 
              span INQUIRY
            .step__img 
              img(src="img/icon-inquiry.png" alt="inquiry")
            p.step__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been theindustry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              br
              br
              |It is a long established fact that a reader will be distracted by the readable content of a page whenlooking at its layout.
          .step__content
            h3.step__heading STEP 3: 
              span INQUIRY
            .step__img 
              img(src="img/icon-inquiry.png" alt="inquiry")
            p.step__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been theindustry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              br
              br
              |It is a long established fact that a reader will be distracted by the readable content of a page whenlooking at its layout.
          .step__content
            h3.step__heading STEP 4: 
              span INQUIRY
            .step__img 
              img(src="img/icon-inquiry.png" alt="inquiry")
            p.step__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been theindustry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              br
              br
              |It is a long established fact that a reader will be distracted by the readable content of a page whenlooking at its layout.
          .step__content
            h3.step__heading STEP 5: 
              span INQUIRY
            .step__img 
              img(src="img/icon-inquiry.png" alt="inquiry")
            p.step__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been theindustry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              br
              br
              |It is a long established fact that a reader will be distracted by the readable content of a page whenlooking at its layout.

      .step__buttons 
        button.step__button.js-prev 
        button.step__button.js-next
  
  section.why 
    .content-wrapper 
      h2.section-title.why__title why us
      .why__content-wrapper 
        .why__image 
          img(src='/img/placeholder-big-img.jpg' alt='why')
        .why__desc 
          p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been theindustry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. #[br] #[br ]It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      .why__button-wrapper  
        a.button.why__button(href="#") 
          span.button__shape
          span.button__shape
          span.button__shape
          span.button__shape
          |The button