extends includes/layout.pug
block variables 
 - var active = "Home"

block content
  main.main 
    .mv__bg 
      img(src="/img/mv-bg.jpg" alt="hero bg")
    section.mv 
      .content-wrapper
        .mv__message
          span.mv__subtitle Worldwide Executive Resourses
          h1.mv__title 
            | The Outsource Solution
            br
            | for scaling your business
          p.mv__content 
            |Focus on what matters most. #[br] WeR ready to take on tasks to support your business journey towards growth.
        .mv__button-wrapper
          a.button.mv__button(href="#") The button
    section.why
      .hex
        .hex__row 
          .hex__item 
          .hex__item 
          .hex__item 
          .hex__item 
          .hex__item 
      .why__container 
        h2.why__heading
          |WHO 
          span WE
          |R
        .why__content-row 
          .why__content-wrap 
            p WeR Solutions Inc. provides exceptional remote staff for global companies at a very competitive cost. #[br] #[br] Our highly educated workforce, based out of the Philippines, is driven by a strong work ethic, an unparalleled focus on customer service and possessing refined natural English language skills. #[br]#[br] Beyond the traditional administrative services, WeR also provides Social Media Management, Content Writing/Moderation, IT and Web Services Support, and others.
            a.button(href="#") Read More 
          .why__img 
            img(src="/img/why.jpg", alt="")
