extends includes/layout.pug
block variables 
  - var active = 'Services'

block content 
  .service 
    .content-wrapper 
      h2.section-title.service__title service 1
      .service__content-wrapper 
        p.service__desc It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page  when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text #[br] #[br] It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established
        .service__img 
          img(src="/img/placeholder-img.jpg" alt="")
      .service__quote-wrapper 
        span.service__shape
        span.service__shape
        p.service__quote "quote here" 
      p.service__desc.service__desc--fluid It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text
      .service__img.service__img--fullwidth 
        img(src="/img/placeholder-big-img.jpg", alt="")
      .service__button-wrapper 
        a.button.service__button(href="#")
          span.button__shape
          span.button__shape
          span.button__shape
          span.button__shape
          | The button