extends includes/layout.pug
block variables 
  - var active = 'Services'

block content 
  .service 
    .content-wrapper 
      h2.section-title.service__title General va services
      .service__content-wrapper 
        p.service__desc--inner It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page  when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text #[br] #[br] It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established
        .service__img 
          img(src="/img/placeholder-img.jpg" alt="")
      .service__quote-wrapper 
        span.service__shape
        span.service__shape
        p.service__quote WeR General VAs can cover the basics to give you more time to focus on growing your business. You don’t have to pay for unnecessary overhead costs if you don’t need them. We are here to help you save costs while scaling. 
      p.service__desc--inner.service__desc--fluid It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text
      .service__img.service__img--fullwidth 
        img(src="/img/placeholder-big-img.jpg", alt="")
      .service__button-wrapper 
        a.button.service__button(href="#")
          span.button__shape
          span.button__shape
          span.button__shape
          span.button__shape
          | The button